html {
  height: 100%;
}
body {
  background:black;
  height: 100%;
  margin: 0px;
  font-family: Tahoma, Geneva, sans-serif;
}

#header h2{
  color:white;
  font-size:60px;
}

#header{
  height: 15%;
  display: inline-flex;
  width: 100%;
  margin: 10px 0 0 0;
}


#weather-div{
height:120px;
color:white;
margin-left: 50px;
    width: 50%;

    float: left;
}

#title-text{
  text-align: center;
  height: calc(100% - 20px);
  width: 90%;
  margin: 10px;
}

#internet-clock{
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

#main{
  margin: 0 2% 0 2%;
  width: 96%;
}
