* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1.875rem;
}

.weather-container {
  display: inline-block;
  position: absolute;
  top: 1.875rem;
  left: 1.875rem;
  font-weight: 200;
}

h1 {
  font-size: 50px;
  font-weight: 200;
  margin: 0;
  text-align: center;
}

.time-container {
  text-align: right;
  display: inline-block;
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;
  font-weight: 200;
}

.time-container #time,
.weather-container #temp {
  font-size: 48px;
}

.time-container #date,
.weather-container #minmax {
  font-size: 16px;
  font-weight: 400;
}

.time-container #day,
.weather-container #location {
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .15em;
}
